@import '../../css/forms.css';

:host {
	display: block;
	contain: content;
}

slot:not([name]) {
	display: none;
}

#wrapper {
	display: flex;
	width: clamp(10rem, 100%, 50vmin);
	height: clamp(10rem, 50vmin, 35rem);
	margin-inline: auto;
	text-align: center;
}

#controls {
	margin-block-start: 1rem;
	text-align: center;
	display: flex;
	gap: 1rem;
	place-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#download {
	margin-block-start: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	place-items: center;
}

#download div {
	display: flex;
	gap: 1rem;
	place-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
